.card_container {
  width: 100%;
  justify-content: center;
}

.card_manage {
  width: 65%;
  display: flex;
  flex-flow: column wrap;
  gap: 5px;
}

.card {
  padding: 10px;
  width: 32%;
  color: black;
  height: fit-content;
  flex-wrap: wrap;
  box-sizing: border-box;
  position: relative;
  border-radius: 0px;
  border: none;
  margin-bottom: 10px;
}

.card:nth-child(3n+1) {
  order: 1;
}

.card:nth-child(3n+2) {
  order: 2;
}

.card:nth-child(3n) {
  order: 3;
}

.card_manage::before,
.card_manage::after {
  content: "";
  flex-basis: 100%;
  width: 0;
  order: 2;
}

.card_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.circle-checkbox {
  position: relative;
}

.circle-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  color: black;
}

.circle-checkbox input:checked {
  display: block;
}

.menu {
  cursor: pointer;
  margin: 2px 5px 0px 0px;
}

.card_content {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  font-family: 'DM Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
}

.watch_icon {
  margin-right: 5px;
}

.date {
  font-size: 12px;
}

.priority_button {
  border: none;

  font-size: 12px;
}

.card_footer {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.options-container {
  position: absolute;
  top: 27%;
  right: 1%;
  width: 120px;
}

.option {
  padding: 5px 10px;
  cursor: pointer;
  background-color: black;
  color: white;
  font-size: 15px;
  border-bottom: 1px solid #333;
}

.checkbox_header {
  justify-content: space-between;
  padding: 5px;
}

.options-container {
  position: absolute;
  top: 27%;
  right: 1%;
  width: 120px;
}

.option {
  padding: 5px 10px;
  cursor: pointer;
  background-color: black;
  color: white;
  font-size: 15px;
  border-bottom: 1px solid #333;
}

.taskCard {
  padding: 5px;
  color: black;
}

.footerHeader {
  justify-content: space-between;
  padding: 5px;
}

.checkbox-wrapper-18 .round {
  position: relative;
}

.checkbox-wrapper-18 .round label {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
  height: 23px;
  width: 23px;
  display: block;
}

.checkbox-wrapper-18 .round label:after {
  border: 2px solid black;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 6px;
  opacity: 0;
  position: absolute;
  top: 7px;
  transform: rotate(-45deg);
  width: 12px;
}

.checkbox-wrapper-18 .round input[type="checkbox"] {
  visibility: hidden;
  display: none;
  opacity: 0;
}

.checkbox-wrapper-18 .round input[type="checkbox"]:checked+label {
  background-color: transparent;
  border-color: black;
}

.checkbox-wrapper-18 .round input[type="checkbox"]:checked+label:after {
  opacity: 1;
}